body {
  background: #d2e1dd;
  color: #333333;
  font-family: "Andale Mono", monospace;
  font-size: 14px; }

article {
  background: white;
  width: 760px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  position: relative; }

a.button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #d2e1dd;
  color: darkgreen;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none; }

a.button:hover,
button:focus {
  background: #0053ba; }

a.button:focus {
  outline-offset: -4px; }

a.button:active {
  transform: scale(0.99); }

footer {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  height: 170px;
  width: 170px;
  line-height: 170px;
  text-align: center;
  background: #333333;
  color: #d2e1dd;
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  z-index: -4;
  margin-top: -60px; }

#hello {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  background: green;
  color: #d2e1dd;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  margin-bottom: -60px;
  margin-top: 60px; }

#menu {
  background: #333333;
  width: 760px;
  margin: 0 auto;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  margin-bottom: -100px;
  margin-top: auto; }
