// Mixins

@mixin circleThing(
  $rad: 100,
  $height: 200,
  $width: 200,
  $bg: blue,
  $color: white) {

  $rad: $rad * 1%;
  $height: $height * 1px;
  $width: $width * 1px;
//rad
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  -ms-border-radius: $rad;
  border-radius: $rad;
//size
  height: $height;
  width: $width;
  line-height: $height;
  text-align: center;
//color
  background: $bg;
  color: $color;

  margin: 0 auto;
}
